@font-face {
  font-family: 'silkaMedium'; 
  src: url('typo/Silka-Medium.ttf'); 
}
@font-face {
  font-family: 'morangaBold'; 
  src: url('typo/moranga-Bold.otf'); 
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'silkaMedium';
  background-color: #E2EDF7;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}


/*----------------------------------------------*/
/*                     NAVBAR                   */
/*----------------------------------------------*/

.top-container {
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo-nom {
  font-family: 'morangaBold';
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 12vw;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 12vw;
}

.contact a {
  text-decoration: none;
  color: black;
}

.contact a:hover {
  color: #7c7d80;
}

.navbar {
  width: auto;
  height: auto;
  border-radius: 23px;
  background-color: #CBE0F2;
  display: flex;
  font-size: 14px;
  padding: 5px;

}

.nav {
  color: black;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;  
  align-items: center;
  height: 32px;
  padding: 0px 16px;
}

.nav:hover {
  color: #7c7d80;
}

.select {
  background-color: white;
}

@media screen and (max-width: 600px) {
  .top-container {
      flex-direction: column;
      margin-bottom: 70px;
  }
  .navbar{
    margin-bottom: 20px;

  }
  .logo-nom {
    margin: 20px;
  }
  .contact {
      display: none;
  }
}


/*----------------------------------------------*/
/*                     PROFIL                   */
/*----------------------------------------------*/


.bottom-container {
  width: 1200px;
  display: grid;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 10vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
      "presentation presentation map parcours"
      "projets linkedin competences parcours"
      "projets github competences parcours";
  aspect-ratio: 4/3;
}

.card {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  text-align: center;
  position: relative; 
  overflow: hidden;

}

.presentation {
  grid-area: presentation;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.top-presentation{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.bottom-presentation{
  width: 100%;
  height: 50%;
  text-align: left;
  font-size: 15px;
}
.presentationText{
  padding: 0px 40px 40px 40px;
  height: 100%;
  box-sizing: border-box;
}
.nomPresentation{
  font-size: 40px;
  font-family: 'morangaBold';
  vertical-align: baseline; 
  line-height: 1; 
}
.memoji{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}
.memoji img {
  width: 90px;
  height: auto;
  box-sizing: border-box;
}


.btn-cv {
  height: 40px;
  width: auto;
  border-radius: 36px;
  background-color: rgb(255, 255, 255);
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
  color: black;
  padding: 0 10px;
  font-size: 14px;
  gap: 6px;
  box-shadow: 0 0 0 2px rgba(200, 200, 200, 0.5);
}

.btn-cv:hover {
  box-shadow: 0 0 0 5px rgba(200, 200, 200, 0.5);
}

.map {
  grid-area: map;
}



#globe-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  background: radial-gradient(ellipse at center, #0b0e2c 0%, #020412 100%);
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

#text-bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#text-top-right {
  position: absolute;
  top: 10px;
  right: 15px;
  color: rgb(255, 255, 255);
  font-size: 36px;
  z-index: 10; 
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  border-radius: 30px;
  display: block;
  margin: 0;
  
}

@media screen and (min-width: 1230px), (max-width: 830px) {
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.parcours {
  grid-area: parcours;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.background-img {
  height: 90%;
  width: auto;
  object-fit: cover;
  position: absolute;
}

.containerParours {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

.etapeParcours {
  color: white;
  background-color: #7EB1DC;
  width: 70%;
  height: auto;
  display: flex;
  align-items: flex-start;     
  justify-content: flex-start; 
  flex-direction: column;    
  padding: 15px;               
  font-size: 12px;
  border-radius: 10px;
}
.etapeParcours div {
  width: 100%;
  text-align: left;         
}
.anneeParcours{
  font-size:20px ;
  margin-bottom: 5px;
}
.lieuParcours{
  margin-top:5px ;
}


.competences {
  grid-area: competences;
  background-image: url('img/frames/frameCompetence.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; }

.projets {
  grid-area: projets;
  background-image: url('img/frames/frameProjets.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}



.linkedin {
  background-color: #0A66C2; 
  grid-area: linkedin;
}
.linkedin  .img1 {
  width: 40%;
  height: auto;
}
.linkedin  .img2 {
  display: none;
  width: 50%;
  height: auto;
}


.github {
  background-color: #171515; 
  grid-area: github;
}

.github .img1 {
  width: 50%;
  height: auto;
}

.github .img2 {
  display: none;
  width: 50%;
  height: auto;
}
.btn-lien {
    height: 36px;
    border-radius: 36px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-decoration: none;
    color: inherit;
    width: auto;
    padding: 0 10px;
    font-size: 14px;
    gap: 8px;
    box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
  }
  
  .btn-lien:hover {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.558);
  }

@media screen and (max-width: 1230px) {
  .bottom-container {
      width: 800px;
      aspect-ratio: 4/4;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: 
          "presentation presentation map map"
          "presentation presentation competences parcours"
          "projets github competences parcours"
          "projets linkedin linkedin parcours";
  }

  .linkedin  .img1 {
    display: none;
  }
  .linkedin  .img2 {
    display: inline;
    width: 70%;
    height: auto;
  }
  .btn-lien {
    height: 26px;
    border-radius: 26px;
    padding: 0 4px;
    font-size: 12px;
    gap: 6px;
  }
  .btn-lien.text{
    padding-left: 10px;
  }

  .containerParours {
    gap: 60px;
  }
  .etapeParcours {
    padding: 10px;            
    font-size: 8px;
  }
  .anneeParcours{
    font-size:15px ;
  }

  .presentationText{
    line-height: 2; 

  }
  .memoji img {
    width: 110px;
  }
  
  
}

@media screen and (max-width: 830px) {
  .bottom-container {
      width: 375px;
      aspect-ratio: 2/7;
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 1fr);
      grid-template-areas: 
          "presentation presentation"
          "presentation presentation"
          "map parcours"
          "linkedin parcours"
          "github github"
          "competences projets"
          "competences projets";
  }
  .github .img1 {
    width: 15%;
    height: auto;
    margin-right: 15px;
  }
  .github .img2 {
    display: inline;
    width: 35%;
    height: auto;
  }

  .linkedin  .img1 {
    display: inline;
  }
  .linkedin  .img2 {
    display: none;
  }

  .containerParours {
    gap: 20px;
  }
  .etapeParcours {
    padding: 10px;            
    font-size: 8px;
  }
  .anneeParcours{
    font-size:10px ;
  }
  .lieuParcours{
    margin-top:0px ;
  }
  .top-presentation{
    height: 40%;
  }
  .bottom-presentation{
    height: 60%;
  }
}
@media screen and (max-width: 400px) {
  .bottom-container {
      width: 350px;
  }
  .btn-lien.text {
    padding: 0px 0px 0px 4px;
  }
  #text-bottom-left {
    font-size: 10px;
  }

  .containerParours {
    gap: 10px;
  }
  .etapeParcours {
    padding: 8px;            
    font-size: 7px;
  }
  .anneeParcours{
    font-size:9px ;
    margin-bottom: 0px;
  }
  .memoji img {
    width: 80px;
  }
  .presentationText{
    line-height: 1.5; 
  }
  .nomPresentation{
    font-size: 40px;
  }
  .top-presentation{
    height: 40%;
  }
  .bottom-presentation{
    height: 60%;
  }
  .btn-cv {
    height: 40px;
    width: auto;
    border-radius: 36px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-size: 12px;
    gap: 6px;
    box-shadow: 0 0 0 2px rgba(200, 200, 200, 0.5);
  }
}


/*----------------------------------------------*/
/*                  COMPETENCE                  */
/*----------------------------------------------*/
.container-competence{
  width: 1000px;
  height: auto;
  margin-bottom: 20vh;
  overflow: hidden;
  border-radius: 15px;
}
.top-competence{
  width: 100%;
  display: flex;
  gap: 10px;
}
.container-left{
  background-color: white;
  border-radius: 15px;
  width: 30%;
  height: 100%;
  padding: 0px;
}
.container-right{
  background-color: white;
  border-radius: 15px;
  width: 70%;
  height: 100%;
  min-height: 300px;
  padding: 15px;
}

.category-title{
  font-size: 40px;
  padding: 20px;
}
.menu-item{
  border-radius: 10px;
  padding: 20px 10px;
  margin: 5px 5px;
}


.menu-item:hover {
  cursor: pointer;
  color: black;
  background-color:#F2F7FC;

}
.menu-item.active {
  background-color: #CBE0F2;
  color: black;
}

#skills-grid {
  display: flex;
  flex-direction: column;
}

.skill-card {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
.skill-card:hover {
  background-color: #CBE0F2;
  cursor: pointer;
}

.skill-card img {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 10px;
  width: 40px;
  height: 40px; 
  object-fit: contain; 
  border-radius: 5px;
}

.indexCompetence{
  font-size: 20px;
  margin-left: 10px;
  padding: 15px;
  width: 10px;
  height: auto;
  color: #797979;

}
.catogoryCompetence{
  color: #797979;
  font-size: 14px;
}

.textCompetence{
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.nomCompetence{
  color: #000000;
  font-size: 18px;

}

.page-title{
  font-size: 20px;
  margin-bottom: 20px;
}

.bottom-competence {
  width: 800px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 90px;
  background-color: #A8CCE8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  z-index: 100;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  overflow: hidden;
}


#selected-skill-info{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;

}
#selected-skill-info img {
  margin: 10px;
  padding: 10px;
  width: 50px;
  height: 50px; 
  aspect-ratio: 1/1;
  border-radius: 5px;
  object-fit: contain; 
  background-color: white;
}
.barreNom{
  color: black;
  font-size: 18px;
}
.barreCategorie{
  color: #797979;
  font-size: 13px;

}

.controls{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.controls button {
  background: none;
  border: none;
  padding: 0;
  margin: 0 20px;
  cursor: pointer;
  font-size: 40px;
}

@media (max-width: 1230px) {
  .container-competence {
    width: 800px;
  }

  .bottom-competence {
    width: 600px;
  }

  .category-title{
    font-size: 30px;
    padding: 10px;
  }
}
@media (max-width: 830px) {
  .container-competence {
    width: 375px;
  }
  .category-title{
    text-align: center;  
  }
  .top-competence{
    width: 100%;
    display: grid;
  }

  .container-left{
    width: 100%;
    padding: 0px;
    border-radius: 30px;

  }

  
  .categorie-competence{
    margin: 0px;
  }
  
  .main-content{
    margin: 10px;
  }


  .container-right{
    width: 100%;
    padding: 0px;
    padding-bottom: 20px;
    border-radius: 30px;
  }

  .bottom-competence {
    width: 80vw;
  }

  #skills-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .controls button {
    font-size: 30px;
    margin: 0 15px;

  }
  .barreNom{
    color: black;
    font-size: 15px;
  }
  .barreCategorie{
    color: #797979;
    font-size: 10px;
  
  }
}
@media (max-width: 400px) {
  .container-competence {
    width: 350px;
  }
  .bottom-competence {
    width: 95vw;
  }
  .controls button {
    font-size: 20px;
    margin: 0 10px;

  }
  #selected-skill-info{
    width: 60%;
  
  }
  .controls{
    width: 40%;
  }
  .barreNom{
    font-size: 13px;
  }
  .barreCategorie{
    font-size: 10px;
  }
  #selected-skill-info img{
    margin: 10px;
    padding: 10px;
    width: 40px;
    height: auto;
  }
}




/*----------------------------------------------*/
/*                     PROJETS                  */
/*----------------------------------------------*/


.container-projets{
  width: 1200px;
  height: auto;
}
.carousel-container {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.btn-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-button {
  background-color: #ffffff;
  color: #555557;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 30px 10px;
  border: none; 
  outline: none; 
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.nav-button:active {
  background-color: #d0d0d0; 
}

.arrow {
  font-size: 20px; 
  font-weight: bold; 
}


.carousel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  transition: transform 0.4s ease-in-out;
  width: max-content; 
}



.projet-card {
  background-color: white;
  position: relative;
  height: 550px;
  aspect-ratio: 7 / 12;
  overflow: hidden;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.projet-card:hover {
  transform: scale(1.01); 
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.projet-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projet-image {
  height: 100%;
}


.projet-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 20px; 
  box-sizing: border-box; 
  z-index: 2; 

}


.projet-content h2 {
  font-size: 20px;
}

.more-btn {
  background-color: #333336;
  color: #afafaf;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  align-self: flex-end; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-btn i {
  font-size: 18px; 
  font-weight: bold;
}

.more-btn:hover{
  color: #ffffff;
}

.overlay-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
  z-index: 1; 
  pointer-events: none;
}


@media (max-width: 1230px) {
  .container-projets {
    width: 800px;
  }
}

@media (max-width: 830px) {
  .container-projets {
    width: 500px;
  }
  .projet-card {
    height: 500px;
    aspect-ratio: 7 / 12;
  }
  .nav-button {
    margin: 10px;
  }
}
@media (max-width: 575px) {
  .container-projets {
    width: 400px;
  }
  .projet-card {
    height: 400px;
    aspect-ratio: 7 / 12;
  }
}
@media (max-width: 450px) {
  .container-projets {
    width: 350px;
  }
  .projet-card {
    height: 350px;
    aspect-ratio: 7 / 12;
  }
}


.projet-overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(10px); 
  overflow-y: scroll; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 999; 
}

.projet-overlay.hidden {
  display: none;
}

.limiteOverlay {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
  width: 100%;
  max-width: 1200px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 0px;
  box-sizing: border-box;
}

.close-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #000000;
  color: #fefefe;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 1000;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-overlay i {
  font-size: 20px; 
}

.overlay-content {
  color: black;
  position: relative;
  margin: 80px;
}

.overlay-content h2 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 40px;
  padding: 0;
  color: #333;
  letter-spacing: 1px;
}

.overlay-content p.date {
  font-size: 19px;
  color: #777;
  margin-bottom: 10px;
  margin-top: 5px;
}

.description-container {
  background-color: #F5F5F7;
  border-radius: 30px;
  padding: 10px; 
  width: 100%;
  box-sizing: border-box;
}

.description-btns {
  margin: 60px 80px;
  font-size: 20px;
}

.container-topDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.overlay-techs .badge {
  background-color: #ffffff;
  color: #111;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  transition: background 0.3s ease;
}

.overlay-techs .badge:hover {
  background-color: #e0e0e0;
}

.overlay-links {
  display: flex;
}
.overlay-links a {
  height: 40px;
  width: auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
  color: black;
  padding: 0 10px;
  font-size: 14px;
  gap: 6px;
  box-shadow: 0 0 0 2px rgba(200, 200, 200, 0.5);
}

.overlay-links a:hover {
  box-shadow: 0 0 0 5px rgba(200, 200, 200, 0.5);
}

.description-btns .description {
  font-size: 28px;
  color: #333;
  max-width: 100%;
  margin-top: 50px;
}
.description p {
  margin-bottom: 20px;
}


.overlay-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
  width: 100%;
}

.overlay-images img {
  width: 48%;  
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* ombre douce */

}


@media (max-width: 1230px) {
  .limiteOverlay {
    max-width: 800px;
  }

  .container-topDescription {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }

  .overlay-techs {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }

  .overlay-techs .badge {
    padding: 4px 10px;
    margin: 10px;
    font-size: 11px;
  }
}

@media (max-width: 830px) {
  .limiteOverlay {
    max-width: 100%;
    margin-bottom: 0;
    border-radius: 30px 30px 0 0;
  }

  .overlay-content {
    margin: 40px 20px; 
  }

  .description-btns {
    margin: 40px 20px;
    font-size: 18px;
  }

  .overlay-images {
    flex-direction: column;
    gap: 15px;
  }

  .overlay-images img {
    width: 100%;  
  }

  .overlay-links {
    display: flex;
    gap: 6px;
  }

  .overlay-links a {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .container-topDescription {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
  }

  .overlay-techs .badge {
    padding: 4px 8px;
    font-size: 10px;
  }

  .overlay-links a {
    font-size: 10px;
    padding: 8px 12px;
  }

  .overlay-content h2 {
    font-size: 24px; 
    margin-top: 10px;
  }

  .description-btns .description {
    font-size: 18px;
    margin-top: 20px;
  }
}

body.overlay-active {
  overflow: hidden; 
}

.projet-overlay::-webkit-scrollbar {
  display: none;
}

.projet-overlay {
  scrollbar-width: none;
}